@charset "UTF-8";

/* 공통 영역 */
body { margin: 0;  padding: 0; }

/* header 영역 */
.div_header { position: fixed; display: flex; top: 0; width: 100%; z_index: 1000; background-color: #f8f8f8; border-bottom: 1px solid #ccc; height: 100px; }
.div_main_header { padding: 0px 0px 0px 20%; flex-grow: 1; }
.div_main_header .img_loggo { height: 100px; width: 200px; }
.div_right_header { display: flex; padding: 0px 20% 0px 0px; text-align: right; }
.div_right_header .div_image { flex-grow : 1; }
.div_header	.btn_right { display: inline-block; vertical-align: middle; height: 30px; width : 80px;margin-right: 5px; }
.div_header h3 { height: 30px; margin-bottom: 0px; margin-left: 10px; }
.div_header .thumb_img { display: inline-block; height: 100px; vertical-align: middle; }

/* content 영역 */
.container { display: flex; padding: 0px 20% 0px 20%; min-height: 88vh; }
.div_content { flex: 1; padding: 0px 20% 0px 20px; margin-top: 120px; }

/* side 영역 */
.div_side { width: 200px; margin-top: 100px; padding: 0px 0px 0px 0px; background-color: lightgray; }
.depth1 { list-style-type: none; padding-left: 20px; font-size: 30px; font-weight: bold; }
.depth1 .div_img { float: right; padding-right: 30px; }
.depth1 .img_btnPlus { width: 30px; height: 30px; cursor: pointer; }
.depth2 { padding-left: 40px; font-size: 20px; font-weight: bold; }

/* footer 영역 */
.div_footer { bottom: 0; background-color: #f8f8f8; padding: 10px; border-top: 1px solid #ccc; text-align: center; height: 100px; width: 100%; }